{
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    modules: true
  },
  "globals": {
    "WebSocket": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": 0
  }
}
